# yaml-language-server: $schema=https://json-schema.org/draft-07/schema#
name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  python-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - name: Install
        run: uv sync --dev

      - name: Lint
        run: uv run ruff check ./python

      - name: Build
        run: uv build

      - name: Test
        run: uv run pytest

      - name: Gen Data
        run: |
          uv run ./python/gen_contest_list.py
          uv run ./python/create_site.py
          cat ./data/index/contest_list.json | jq

  # node-test:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v6

  #     - uses: pnpm/action-setup@v4
  #     - uses: actions/setup-node@v6
  #       with:
  #         node-version: 18.x
  #         cache: pnpm

  #     - name: Lint and Test
  #       run: |
  #         pnpm i
  #         pnpm lint
  #         pnpm gen_rating
